





.title:after {    content: '';
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 2px;
	width: 6em;
	background-color: var(--pink-color);
	margin: 0.75em 0;
	};
}





;
}

/**umb_name:thick*/
.fw-700 {
	font-weight: 700;
}

/**umb_name:thin*/
.fw-300 {
	font-weight: 300;
}

/**umb_name:title*/
.title {
	.title {text-decoration: underline;
}

/**umb_name:h1*/
h1 {
	font-size: 2em;
	/*  36px */;
}

/**umb_name:Button primary*/
.btn-primary {
	background-color: #ed145b;
	color: white;
	display: block;
	padding: 0.5em 4em;
	border-radius: 30px;
}
