

/**umb_name:h1 thick*/
h1 {
	font-size: 2em;
	font-weight: 700;
}

/**umb_name:h1 thin*/
h1 {
	font-size: 2em;
	font-weight: 300;
}

/**umb_name:title*/
.title {
	.title {    display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	}.title:after {    content: '';
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 2px;
	width: 6em;
	background-color: var(--pink-color);
	margin: 0.75em 0;
	};
}
