@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.Functions)Model.Content;
    
    //var settings = (ContentModels.MyElementTypeAliasOfSettings)Model.Settings;
}

<div class="function-box center-text">

    <div class="container container-large flex-col">
        
        <!-- medium container -->
        <div class="container container-medium flex-col title-box-margin-bottom">
            <h1 class="title function-title fw-300">@content.Value("title")</h1>
            <p class="fw-300">@content.Value("description")</p>
        </div>

        <!-- large container -->
        <div class="container container-large flex-row flex-around">
            @if(content.FunctionsBlockList != null && content.FunctionsBlockList.Any())
            {
                @foreach (var block in content.FunctionsBlockList)
                {

                    var data = block.Content;

                    @await Html.PartialAsync("blocklist/Components/" + data.ContentType.Alias, block)

                }
            }
        </div>

        

    </div>  

</div>